@page
@model GoHorseWeb.Pages.Paradas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].NumeroParada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parada[0].Cep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Parada) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroParada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EnderecoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EnderecoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EnderecoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
