@page
@model GoHorseWeb.Pages.Viagens.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Viagem.DataOrigem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Viagem.DataOrigem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Viagem.DataDestino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Viagem.DataDestino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Viagem.ValorViagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Viagem.ValorViagem)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Viagem.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
