@page
@model GoHorseWeb.Pages.Viagens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Viagem[0].DataOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem[0].DataDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem[0].ValorViagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Viagem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorViagem)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
